<title>Portfolio Industrial Designer Bas van Straaten | Tue Eindhoven</title>
<meta name="author" content="" ="Bas van Straaten">
<meta name="description" content="" ="This is my Portfolio/ Showcase for my study Industrial Design at the University of Eindhoven.">
<meta name="keywords" content="Industrial Design, ID, Tue, Eindhoven, Universiteit, Portfolio, Industrial Design Portfolio, Showcase, Lucid, Future">
